/** font **/
@font-face {
    font-family:bulgare;
    src: url("bulgare.otf");
}
@font-face {
    font-family: learners;
    src: url("Learners.ttf");
}


/** All **/
*{
    padding:0;
    margin:0;
    outline: 0;
    transition: all 0.2s;
}

body{
    background-image: url("../img/fond1.gif");
    background-position:top right;
    background-repeat: no-repeat;
}


/** Header **/

header {
    color: #003030;
    /*background-image: linear-gradient(to right, #01a4a4, #018585, #006767, #004b4b, #003030);*/
}

    header{
        height: 60px;
        margin-right: 400px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header a img {
        height: 70px;
        padding-bottom: 20px;
    }

    header nav .user img {
        height: 40px;
    }

        header input {
            border-radius: 10px;
            background-color: #B1B1B1;
            border: 1px black solid;
        }

        header nav ul{
            list-style-type: none;
            font-size: 25px;
            font-family: learners;
            text-align: center;
            color: #003030;

            display: flex;
        }

        header nav a {
            color:#003030;
            text-decoration: none;
            padding-right:20px;
        }

            header nav .user{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            header nav ul .user a {
                text-decoration: none;
                padding-left: 8px;
                font-size: 0.8em;
                color: #2F3133;
            }

                 header li a:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 1px;
                    width: 0;
                    background: transparent;
                    transition: width .5s ease, background-color .5s ease;
                }
                 header li a:hover:after {
                    width: 100%;
                    background: #2F3133;
                }


/*liste des musique*/
#listemusique{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 150px;
    padding-top: 50px;
    width: 60%;
}

    #listemusique li{
        height: 200px;
        width : 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;

        background-color: #353535;
        box-shadow: 1px 10px 40px #353535;

        margin: 10px;
        border-radius: 5px;
    }

        #listemusique li .chanson{
            text-align: center;
            padding-top: 60px;
            color: #e5e5e5;
        }
            #listemusique li .chanson a {
                list-style-type: none;
                color: #e5e5e5;
                text-decoration: none;
                font-weight: bold;
            }
                #listemusique li .chanson a:after {
                    content: '';
                    display: block;
                    margin: auto;
                    margin-top:-20px;
                    height: 20px;
                    width: 0px;
                    background: transparent;
                    transition: width 1s ease, background-color 1s ease;
                    border-radius: 50px;
                }
                #listemusique li a:hover:after {
                    width: 100%;
                    background: rgba(255,255,255, 0.2);
                }

        #listemusique li .name{
            text-align: right;
            color: #9f9fa0;
        }
            #listemusique li .name a{
                list-style-type: none;
                color: #bcbcbc;
                text-decoration: none;
                font-weight: bold;
                transition: all 0.5s ease;
            }
                #listemusique li .name a:hover{
                    color: white;
                }




/*audio*/
.controleaudio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .controleaudio audio{
        padding-top: 20px;
    }


    .ajouter{
        display: flex;
        justify-content: center;
    }
        .nouveau{
            position: fixed;
            bottom: 15%;
        }
        .ajouter a{
            text-decoration: none;
            background-color:  #353535;
            padding: 10px;
            color: #e5e5e5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border:1px solid #e5e5e5;
        }
            .ajouter a:hover{
                color: #353535;
                background: #e5e5e5;
                border:1px solid #353535;

                box-shadow: 10px 10px 40px #2F3133;
            }



/*moncompte*/
.moncompte{

}

    .moncompte .baniere {
        height: 200px;
        background-color: #9BA2AB;

        display: flex;
        align-items: center;
        padding-left: 50px;
    }

        .moncompte .baniere .user{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .moncompte .baniere .user img{
                height: 100px;

                margin-right: 50px;
            }
/*nouvelle musique*/
.ajouter {
    background-color: red;
}
.ajout {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #B1B1B1;
    box-shadow: 1px 10px 40px black;
}
.ajout form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ajout form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ajout form input {
    background-color: rgba(0,0,0,0.1);
    border: 0px;
    border-radius: 10px;
    height: 20px;
    width:300px;

    margin-top:20px;;

    text-align: center;
}

.ajout form  input:focus{
    color: black;
    background: rgba(0,0,0,0.3);
}
.ajout form  input::placeholder{
    color: black;
}









/*login*/
.login {
    margin-top: 50px;

    display: flex;
    justify-content: center;
}
    .login .justify-content-center{
        width: 500px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #B1B1B1;
        box-shadow: 1px 10px 40px black;
    }

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

    .card-header{
        color:white;
        font-size: 2em;
    }
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .login form .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.login form .form-group input {
    background-color: rgba(0,0,0,0.3);
    border: 0px;
    border-radius: 10px;
    height: 20px;
    width:300px;

    margin-top:20px;;

    text-align: center;
}
    .form-check-label{
        font-size: 1em;
        color:white;
    }

/*register*/
.register {
    margin-top: 50px;

    display: flex;
    justify-content: center;
}
.register .justify-content-center{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #B1B1B1;
    box-shadow: 1px 10px 40px black;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card-header{
    color:white;
    font-size: 2em;
}
.register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register form .form-group input {
    background-color: rgba(0,0,0,0.1);
    border: 0px;
    border-radius: 10px;
    height: 20px;
    width:300px;

    margin-top:20px;;

    text-align: center;
}

    .register form .form-group input:focus{
        color: black;
        background: rgba(0,0,0,0.3);
    }
    .register form .form-group input::placeholder{
        color: black;
    }

.form-check-label{
    font-size: 1em;
    color:white;
}

.register button{
    margin-top: 20px;
    color: white;
    background-color: black;
    box-shadow:1px 5px 20px black;
    border: 0px;
    padding:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .register button:active {
        box-shadow: 1px 1px 2px black;
    }

   footer {
       background: #353535;
       color: #e5e5e5;
       height: 80px;
       width:100%;
       position: fixed;
       bottom:0;

       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
   }









