/** font **/
@font-face {
    font-family:bulgare;
    src: url("bulgare.otf");
}
@font-face {
    font-family: learners;
    src: url("Learners.ttf");
}


/** All **/
*{
    padding:0;
    margin:0;
    transition: all 0.2s;

}


/** Header **/

header {
    background-color: teal;
    height: 120px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

    header a img {
        height: 120px;
        padding-bottom: 20px;
    }


        nav ul{
            list-style-type: none;
            color: #2F3133;
            font-size: 25px;
            font-family: learners;
            text-align: right;
        }

            header nav ul a {
                text-decoration: none;
                padding-right: 8px;
                padding-left: 8px;
                padding-top: 2px;
                padding-bottom: 2px;
                border: #2F3133 1px solid;
                border-radius:30px;
                font-size: 0.8em;
                color: #2F3133;
            }

                header nav ul a:hover{
                    background-color: #2F3133;
                    color: teal;
                }


/*audio*/
.controleaudio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .controleaudio audio{
        padding-top: 20px;
    }


/*moncompte*/
.moncompte{

}

    .moncompte .baniere {
        height: 200px;
        background-color: #9BA2AB;

        display: flex;
        align-items: center;
        padding-left: 50px;
    }

        .moncompte .baniere .user{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .moncompte .baniere .user img{
                height: 100px;

                margin-right: 50px;
            }
